@model BankAppMVC2.ViewModels.OverforingViewModel

@{
    ViewData["Title"] = "Överföring";
}

<section class="py-5">
    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Överföring</h3>
                </div>

                <div class="card-body">
                    <form asp-controller="Overforing" asp-action="NewOverforing" method="post">
                        <div class="form-group">
                            <label asp-for="AccountId">Skicka från konto: </label>
                            <input class="form-control" asp-for="AccountId">
                            <span asp-validation-for="AccountId" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AccountIdMot">Skicka till konto: </label>
                            <input class="form-control" asp-for="AccountIdMot">
                            <span asp-validation-for="AccountIdMot" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount">Ange belopp: </label>
                            <input class="form-control" asp-for="Amount">
                            <span asp-validation-for="Amount" class="field-validation-error"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Överför</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>