@model BankAppMVC2.ViewModels.KundEditViewModel

@{
    ViewData["Title"] = "Ändra kund";
}

<section class="py-5">
    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Kundnummer: @Model.CustomerId</h3>
                </div>

                <div class="card-body">
                    <form asp-controller="Kund" asp-action="Edit" method="post">
                      
                        <div class="form-group">
                            <label asp-for="Gender">Kön: </label>
                            <input class="form-control" asp-for="Gender">
                            <span asp-validation-for="Gender" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Givenname">Förnamn: </label>
                            <input class="form-control" asp-for="Givenname">
                            <span asp-validation-for="Givenname" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Surname">Efternamn: </label>
                            <input class="form-control" asp-for="Surname">
                            <span asp-validation-for="Surname" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Streetaddress">Adress: </label>
                            <input class="form-control" asp-for="Streetaddress">
                            <span asp-validation-for="Streetaddress" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City">Stad: </label>
                            <input class="form-control" asp-for="City">
                            <span asp-validation-for="City" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Zipcode">Postnummer: </label>
                            <input class="form-control" asp-for="Zipcode">
                            <span asp-validation-for="Zipcode" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country">Land: </label>
                            <input class="form-control" asp-for="Country">
                            <span asp-validation-for="Country" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CountryCode">Landskod: </label>
                            <input class="form-control" asp-for="CountryCode">
                            <span asp-validation-for="CountryCode" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Birthday">Födelsedag: </label>
                            <input class="form-control" asp-for="Birthday">
                            <span asp-validation-for="Birthday" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NationalId">Personnummer: </label>
                            <input class="form-control" asp-for="NationalId">
                            <span asp-validation-for="NationalId" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telephonecountrycode">Landskod för telefon: </label>
                            <input class="form-control" asp-for="Telephonecountrycode">
                            <span asp-validation-for="Telephonecountrycode" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telephonenumber">Telefon: </label>
                            <input class="form-control" asp-for="Telephonenumber">
                            <span asp-validation-for="Telephonenumber" class="field-validation-error"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Emailaddress">Email: </label>
                            <input class="form-control" asp-for="Emailaddress">
                            <span asp-validation-for="Emailaddress" class="field-validation-error"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Spara</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>